body {
    height: 800px;
    width: 100%;
    background-color: white;
}

#Homebtn {
    height: 40px;
    width: 80px;
    margin-left: 70%;
    text-align: left;
}

#headerlogo {
    Height: 77px;
    Width: 405px;
    Text-Align: Left;
    margin-left: 0px;
}

#headertext {
    color: black;
    text-align: center;
    Font-Size: XX-Large;
    Text-Align: Center;
    margin-left: 10%;
    font-weight: Bold;
    border-color:white;
    border-style: none;
    Border-Width: 0px;
}

#renderbody {
    height: 65%;
    width: 100%;
    background-color: #FFFFCC;
}

#footer {
    text-align: left;
    height: 5%;
    background-color: #FF9B6A;
}

#iTextBox1 {
    border-color: #CC0000;
    border-style: Solid;
    Border-Width: 3px;
    Color: Black;
    Height: 35px;
    Width: 414px;
    font-weight: bold;
    margin-left: 0px;
    text-align: center;
    font-size: medium;
}

#iTextBox2 {
    border-color: #CC0000;
    border-style: Solid;
    Border-Width: 3px;
    Color: Black;
    Height: 34px;
    Width: 250px;
    font-weight: bold;
    margin-left: 0px;
    text-align: center;
    font-size: medium;
}
#mTextBox1,#mTextBox2,#mTextBox3,#mTextBox4,#mTextBox5,#mTextBox6,#mTextBox7 {
    border-color: #CC0000;
    border-style: Solid;
    Border-Width: 3px;
    Color: Black;
    Height: 30px;
    Width: 220px;
    font-weight: bold;
    margin-left: 0px;
    text-align: center;
    font-size: medium;
}


#iTable1 {
    width: 99%;
    border-collapse: collapse;
    background-color: #FFFFCC;
    height: 400px;
    margin-top: 1em;
    margin-right: 0px;
}

#iTable2 {
    border: 3px solid #CC6666;
    width: 938px;
    border-collapse: collapse;
    margin-left: 167px;
    margin-top: 3%;
    height: 426px;
}

#mTable {
    border: 3px solid #CC6666;
    width: 84%;
    border-collapse: collapse;
    background-color: #FFFFCC;
    height: 500px;
    margin-left: 10%;
}

    #mTable > tr > td {
        text-align: center;
        width: 230px;
        height: 40px;
    }
#machinetable {
    border: 3px solid #FFAF37; 
    width: 30%; 
    border-collapse: collapse; 
    height:200px; 
    margin-left: 37.5%; 
    background-color: white;
    
}
#CP_Setting {
    background-color: #FF9B6A;
    border: solid 1px #FF9B6A;
}

#CP_Display {
    background-color: #FF9B6A;
    border: solid 1px #FF9B6A;
}

#btn1 > td > input {
    height: 48px;
    width: 250px;
}

#btn2 > td > input {
    height: 48px;
    width: 250px;
}
