@{
    ViewBag.Title = "Index";
}

<table id="iTable1">
        <tr>
            <td style="width: 1044px; height: 428px;">
                <table id="iTable2">
                    <tr>
                        <td style="width: 117px; text-align: center;" rowspan="7">&nbsp;</td>
                        <td style="text-align: center; height: 23px;" colspan="2"></td>
                        <td style="height: 23px; width: 1103px; text-align: center;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="background-color: #FFCC66; height: 68px; text-align: center;" colspan="2">
                            <input ID="TextBox1" type="button" value="Machine Groups" />
                        </td>
                        <td style="width: 1103px; text-align: center; height: 68px;">

                            <input ID="TextBox2" runat="server" value="Problems"/>


                        </td>
                    </tr>
                    <tr id="btn1">
                        <td style="background-color: #FFCC66; width: 434px; height: 89px; text-align: center">
                            <div id="Div1" onmouseover="Dark('Div1')" onmouseout="Light('Div1')"">
                                
                            </div>
                            
                        </td>
                        <td style="background-color: #FFCC66; width: 243px; height: 89px; text-align: center">
                            <div id="Div2" onmouseover="Dark('Div2')" onmouseout="Light('Div2')">
                                
                            </div>
                            
                        </td>
                        <td style="width: 1103px; text-align: center; height: 89px;">
                            <div id="Div3" onmouseover="Dark('Div3')" onmouseout="Light('Div3')" 
                                style="margin-left: 100px; width:250px">
                                
                            </div>
                            
                        </td>
                    </tr>
                    <tr id="btn2">
                        <td style="background-color: #FFCC66; text-align: center; height: 48px; width: 434px;">
                            <div id="Div4" onmouseover="Dark('Div4')" onmouseout="Light('Div4')">
                                
                            </div>
                             
                     
                        </td>
                        <td style="background-color: #FFCC66; text-align: center; height: 48px; width: 243px;">
                            <div id="Div6" onmouseover="Dark('Div6')" onmouseout="Light('Div6')" >
                                
                            </div>
                            
                        </td>
                        <td style="width: 1103px; height: 48px;">
                            <div id="Div5" onmouseover="Dark('Div5')" onmouseout="Light('Div5')" 
                                style="margin-left: 100px; width:250px">
                               
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #FFCC66; text-align: center;" colspan="2">&nbsp;</td>
                        <td style="width: 1103px; text-align: center;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="background-color: #FFCC66; height: 17px; text-align: center;" colspan="2"></td>
                        <td style="width: 1103px; height: 17px;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; height: 39px;" colspan="2"></td>
                        <td style="height: 39px; width: 1103px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
