<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
      <script src="~/Scripts/jquery-1.10.2.js"></script>
      <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {

            $("#Homebtn").button()
                .mouseover(function Dark(mnu) {
                    document.getElementById(mnu).style.border = '2px solid #993300';
                })
         
                .css('background', '#FF9B6A')
                .css('color', 'black')
                .css('border', '2px solid #CC6666')
                .css('font-weight', 'normal')
                .css('font-size', 'medium')
                .click();
        });
        //function Dark(mnu) {
        //    //			document.getElementById(mnu).style.background='#CC6666';
        //    //			document.getElementById(mnu).style.color='#FFFFFF';
        //    document.getElementById(mnu).style.border = '2px solid #993300';
        //}
        //function Light(mnu) {
        //    //			document.getElementById(mnu).style.background='#FF9966';
        //    //			document.getElementById(mnu).style.color='#000000';
        //    document.getElementById(mnu).style.border = '2px solid #CC6666';
        //}
    </script>
</head>
<body>
    <header>
            <meta charset="utf-8" />
            <div class="main-content""content-wrapper"  style="height:25%;">
                <p  style="background-color:white;" >
                   <img src="~/Images/headerLogo.jpg" alt="logo" id="headerlogo" />
                    
                    <label id="headertext">OR Display</label>
                        
                </p>
           </div>
                </header>
    
     <div id="renderbody" >
            @RenderSection("featured", required: false)
            <section class="main-content" style="text-align:center; color:black;">
             @RenderBody()
               
            </section>
            
        </div>
    <div id="footer">
         <p>©Ideonics - ideas &amp; electronics<input value="Home" id="Homebtn" type="submit" onmouseover="Dark('Homebtn')" onmouseout="Light('Homebtn')" /></p>
    </div>
    </body>
</html>
